button {
  width:80%;
  margin-right: 5%;
  margin-left: 5%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display : flex;
  background-color: #90b324;
  height: 8vh;
}
.fixed-top{
  background-color: #90b324;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 8vh;
}
h3 {
  text-align: center;
  color: #f6f5ee;
  height: 90%;
}
.image_deco{
  max-height: 40px;
  max-width: 40px;
}
#date_titre{
  font-size: 30px;
}


.overflow-auto{
  padding-top: 8vh;
  padding-bottom: 8vh;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: 90vw;
}
Label {
  color: #f6f5ee;
}

