<div>
  <div class="fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <Label id="date_titre">{{full_string_date}}</Label>
        </div>
        <div class="col">
          <button type="button" class="btn btn-default" (click)="Disconnect()">
            <img class="image_deco" src="../assets/person-x-fill.svg" alt="log out">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-auto" >
    <div *ngFor="let intervention of list_interventions" >
        <app-intervention-item [intervention]="intervention"></app-intervention-item>
    </div>
  </div>

  <div class="footer">
    <button type="button" class="btn btn-default" (click)="PreviousDay()">
      <img src="../../assets/arrow-left-square-fill.svg" alt="left arrow">
    </button>
    <button type="button" class="btn btn-default" (click)="openPopup()">
      <img src="../../assets/calendar.svg" alt="left arrow">
    </button>
    <button type="button" class="btn btn-default" (click)="NextDay()">
      <img src="../assets/arrow-right-square-fill.svg" alt="right arrow">
    </button>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sélectionner Date</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="date" id="date" [formControl]="dateControl">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePopup()" >Confirmer</button>
        <button type="button" class="btn btn-" data-dismiss="modal" (click)="closePopup()">Annuler</button>
      </div>
    </div>
  </div>
</div>

